.bookContainer {
    display: inline-block;
    margin-left: 65px;
    height: 205px;
    width: 20%;
    margin-top: 64px;
    float: left;
}

.container {
    margin-left: 0;
}

.bookPlace {
    border: 5px solid #f7f7f7;
    box-shadow: -4px -14px 20px 0px #d6d6d6;
    overflow-y: auto;
    max-height: 625px;
}

.checkOutButton {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: -18px;
    padding: 4px;
    width: 75px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.detailsButton {
    display: inline-block;
    border-radius: 4px;
    background-color: #2c89b5;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: -18px;
    padding: 4px;
    width: 75px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.checkOutButton:hover {
    background-color: #d43e0f;
}

.detailsButton:hover {
    background-color: #0a5a80;
}

.add-cart-number {
    background-color: #d80808;
    font-size: 14px;
    position: absolute;
    top: 2px;
    border-radius: 77px;
    right: 78px;
    font-weight: bold;
    width: 19px;
    color: white;
}

.caption {
    padding: 5px;
}

.goCartbutton {
    padding: 4px 10px !important;
    background-color: #0158a2;
    outline: 0;
    color: white;
}

.goCartbutton:hover {
    background-color: #297dc5;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}