<div>
    <div class="container ">
        <div class="row ">
            <div class="col-sm-8 bookPlace" *ngIf="bookDetail.length !==0">

                <!-- <button><span class="btn">Log out</span></button> -->
                <button type="button" class="btn btn-primary" style="padding: 3px;" (click)="logOutButton()">LogOut</button>

                <button class="checkOutButton" style="vertical-align:middle;margin-left: -27%;" (click)="checkOutBtn()" [disabled]="bookAddedCount === 0">
                    <span>Checkout </span>
                </button>
                <!-- <button class="detailsButton" style="vertical-align:middle;margin-left: -13%;" *ngIf="isActive" (click)="detailsBtn()"><span>Details </span></button> -->
                <button class="btn btn-default btn-sm goCartbutton">       
          <span class="glyphicon glyphicon-shopping-cart">
            
          </span>
            <span class="add-cart-number">{{bookAddedCount}}</span>
              </button>
                <div class="thumbnail bookContainer" *ngFor="let details of bookDetail">
                    <a (click)="goToBookDetails(details.bookId)">
                        <img src="{{details.imageLink}}" alt="books " style="width: 102%; height: 194px;">
                        <div class="caption ">
                            <p class="bookName ">{{details.title}}</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-4">
                <app-details [currentBook]="book" (addedBookCount)="addedBookToCart($event)" [ngClass]="{'visibleComp':isCheckOutLoaded}"></app-details>
                <!-- <app-details #details></app-details> -->
                <!-- <app-checkout [loadCheckout]="isCheckOutLoaded" *ngIf="isCheckOutLoaded" (checkOutBooks)="booksForCheckOut($event)"></app-checkout> -->
                <app-checkout [ngClass]="{'visibleComp':!isCheckOutLoaded}"></app-checkout>
            </div>
        </div>
    </div>
</div>