.bookContainer {
    display: inline-block;
    margin-left: 95px;
    height: 218px;
    width: 15%;
    margin-top: 64px;
    float: left;
}

.bookName {
    font-size: 20px;
    margin-left: 22px;
    font-family: sans-serif;
}

.option {
    margin-top: 30px;
    margin-left: 30px;
}

.logOutButton {
    display: inline-block;
    float: right;
    margin-top: 25px;
    margin-right: 20px;
}

.welcomeMessage {
    display: inline-block;
    float: right;
    margin-top: 30px;
    margin-right: 12px;
    font-size: 16px
}