<div class="form-group">
    <label for="libraryType" class="option">Select Your Library Type:</label>
    <select name="libraryType " id="libraryType " [(ngModel)]="libraryType" (change)="getlibraryOption()">
             <option>select</option> 
                            <option  *ngFor="let libraryOption of libraryOption">{{libraryOption}}</option> 
                             
</select>
    <div class="logOutButton">
        <button type="button" class="btn btn-default btn-sm" (click)="logOutButton()">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </button>
    </div>
    <div class="welcomeMessage">Welcome {{userName}}</div>
</div>
<div class="container ">
    <div class="row ">
        <div class=" " *ngIf="visibleBookList.length !==0 ">
            <div class="thumbnail bookContainer " *ngFor="let bookData of visibleBookList">
                <a (click)="routeToBook(bookData.bookId)">
                    <img src="/assets/images/book.png " alt="books " style="width: 60%;">
                    <div class="caption ">
                        <p class="bookName ">{{bookData.title}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>