<div>
    <div>
        <img src="{{currentBook.imageLink}}" class="cover-image" />
    </div>
    <div class="book-name"> {{currentBook.title}}</div>
    <div class="author-name" *ngIf="currentBook.year !==undefined">{{currentBook.author}} ({{currentBook.year}})</div>
    <div *ngIf="currentBook.year !==undefined" class="book-year">
        <span style="font-weight:bold">Language:</span> {{currentBook.year}}
    </div>
    <div *ngIf="currentBook.price !==undefined" class="book-price">
        <span style="font-weight:bold">Price:</span> {{currentBook.price}}
    </div>
    <div class="book-summary" *ngIf="currentBook.summary !==undefined">
        <span style="font-weight:bold">Plot view:</span> {{currentBook.summary}}
    </div>
    <button type="button" class="btn btn-default cart-button" *ngIf="currentBook.title !== undefined" (click)="addingToCart()">
          <span class=" glyphicon glyphicon-shopping-cart "></span> Add To Cart
        </button>
    <button type="button" class="btn btn-default  remove-button" *ngIf="currentBook.title !== undefined" (click)="removeFromCart()">
          <span class=""></span> Remove from Cart
        </button>
</div>