    .loginButton {
        margin-left: 35%;
        width: 30%;
    }
    
    .signUpButton {
        margin-left: 35%;
        width: 30%;
        margin-top: 25px;
    }
    
    .mainContainer {
    
    }