
    <div class="container" style=" width: 40%;">
        <h2>Login</h2>
        <form #userForm="ngForm">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="loginEmail" placeholder="Enter email" name="loginEmail" [(ngModel)]="loginEmail" required>

            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="loginPwd" placeholder="Enter password" name="loginPwd" [(ngModel)]="loginPwd" required>
            </div>
   
        </form>

        <button class="btn btn-default loginButton" (click)="onSubmit()" [disabled]="!userForm.valid">Login</button>
        <a class="btn btn-default signUpButton" routerLink="/signup" routerLinkActive="active">SignUp</a>
    </div>

